/* app css stylesheet */

body {
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: auto;
}


/* HEADER CSS */
.wrap {
	width:900px;
	margin: 0 auto;
}

header {
	width: 600px;
	margin: 0 auto 30px;
	height: 50px;
}

.logo {
	width: 200px;
    height: 50px;
    float:left;
}

.logo > a {
	display: block;
    background-image: url(/app/img/practo-logo.png);
    height: 46px;
    width: 200px;
    text-indent: -99999px;
    background-size: 100%;
    background-repeat: no-repeat;
}

header h2.headtext {
	padding: 0 0 0 171px;
    float: left;
    font: bold 30px Arial;
    color: #60CCF4;
}

.data-arrange {
	width: 600px;
	margin: 20px auto -10px;
	clear: both;
}

.data-arrange input, .data-arrange select {
	margin-top: 5px;
}

.data-arrange select {
	cursor: pointer;
}

.data-arrange span:first-child {
	float:left;
}

.data-arrange span:last-child {
	float:right;
}

.data-arrange label {
	display: inline;
}

/* END OF HEADER CSS */

/* CONTACTS TABLE */

a.refresh-btn {
    margin: 17px 0 -17px 700px;
}

#contacts_table {
	width: 600px;
	text-align: left;
	border: 1px solid #DDD;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 25px auto;
}

#contacts_table td, th{
	padding: 10px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
}

#contacts_table thead>tr {
	background-color: #777;
	color: white;
}

#contacts_table tbody>tr:nth-child(even) {
	background-color: #EEE;
}

#contacts_table td:nth-child(1),
#contacts_table th:nth-child(1) {
	width:10%;
}

#contacts_table td:nth-child(2),
#contacts_table th:nth-child(2) {
	width:60%;
}

#contacts_table td:nth-child(3),
#contacts_table th:nth-child(3) {
	width:30%;
}

/* END OF CONTACTS TABLE */
