/* app css stylesheet */

body {
  padding-top: 20px;
}

.wrap {
	width:900px;
	margin: 0 auto;
}

.data-arrange {
	width: 600px;
	margin: 20px auto;
}

.data-arrange input, .data-arrange select {
	margin: 0px 12px 0px 12px;
}

#contacts_table {
	width: 600px;
	text-align: left;
	border: 1px solid #DDD;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 25px auto;
}

#contacts_table td, th{
	padding: 10px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
}

#contacts_table thead>tr {
	background-color: #777;
	color: white;
}

#contacts_table tbody>tr:nth-child(even) {
	background-color: #EEE;
}

#contacts_table td:nth-child(1) {
	width:10%;
}

#contacts_table td:nth-child(2) {
	width:60%;
}

#contacts_table td:nth-child(3) {
	width:30%;
}