<!doctype html>
<html manifest="contacts.appcache" lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Practo Contacts App</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="wrap">
      <div class="header span12">
        <header>
          <h1 class="logo">
            <a href="http://www.practo.com">Practo</a>
          </h1>
          <h2>Contact Finder</h2>
        </header>
        <div class="data-arrange">
          <span>
            <label for="query">Search:</label>
            <input id="query" name="query" ng-model="query">
          </span>
          <span>
            <label for="sort-order">Sort by:</label>
            <select id="sort-order" name="sort-order" ng-model="sortOrder">
              <option value="name">Alphabetical</option>
              <option value="id">Serial</option>
            </select>
          </span>
        </div>
      </div> <!-- END OF DIV [header] -->
      <div class="tablearea span12">
        <table id="contacts_table" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in contacts | filter:query | orderBy:sortOrder">
              <td class="contact-id">{{contact.id}}</td>
              <td class="contact-name">{{contact.name}}</td>
              <td class="contact-number">{{contact.number}}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END OF DIV [tablearea] -->
  </div> <!-- END OF DIV [wrap] -->

</body>
</html>
