<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="wrap">
      <div class="span12">
        <div class="data-arrange">
          Search: <input ng-model="query">
          Sort by:
          <select ng-model="sortOrder">
            <option value="name">Alphabetical</option>
            <option value="id">Serial</option>
          </select>
        </div>
      </div>
      <div class="span12">
        <table id="contacts_table" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in contacts | filter:query | orderBy:sortOrder">
              <td class="contact-id">{{contact.id}}</td>
              <td class="contact-name">{{contact.name}}</td>
              <td class="contact-number">{{contact.number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

</body>
</html>
